body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: "Arial Rounded MT Bold", sans-serif; 
  font-size: 12px;
}

.top-grid {
  opacity: 0.8;
  border-radius: 30px;
  margin-top: 5px;
  gap: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  width: 40%; 
  max-width: 1000px; 
  background-color: rgba(255, 255, 255, 0.5);
}

.grid-item1 img {
  width: 35%; 
  min-width: 50px;
  height: auto; 
}

.grid-item2 img {
  width: 35%; 
  min-width:50px;
  height: auto;
}

.grid-item3 img {
  width: 35%; 
  min-width: 50px;
  height: auto;
}

.grid-item1:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.grid-item2:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.grid-item3:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.container {
  width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  padding: 20px;
  grid-row-gap: 13%;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .container {
    height: 50%;
    width: auto;
    grid-template-columns: 1fr; 
    min-height: auto;
    max-width: auto;
  }

    .grid-item-title {
      font-family: "Caviar Dreams", sans-serif; 
      font-size: 20px;
      font-weight: bold;
      color: #606060;
      text-align: left; 
    }
    
    .grid-item-description {
      font-size: 10px;
      font-family: "Caviar Dreams", sans-serif; 
      font-size: larger;
      color: #606060;
      text-align: left; 
    }
  }



.grid-item-title {
  font-family: "Caviar Dreams", sans-serif; 
  font-size: 20px;
  font-weight: bold;
  color: #606060;
  text-align: left; 
}

.grid-item-description {
  font-family: "Caviar Dreams", sans-serif; 
  font-size: larger;
  color: #606060;
  text-align: left; 
}

.grid-item {
  color: white; 
  padding: 20px;
  text-align: center;
}

.video-item1 {
  width: 50%; 
}

.video-item2 {
  width: 50%; 
}

.video-item3 {
  width: 50%; 
}

.video-item4 {
  width: 50%; 
}

.video-item5 {
  width: 50%; 
}

.video-item6 {
  width: 50%; 
}


.video-item1:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.video-item2:hover{
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.video-item3:hover{
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.video-item4:hover{
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.video-item5:hover{
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.video-item6:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}


.progress-item {
  width: 100%; 
  height: 50px;
  background-color: #ddd;
  border-radius: 30px;
  margin-top: 40px;
  position: relative;
}


.progress-bar1 {
  width: 0;
  height: 50px;
  background-color:red;
  border-radius: 30px;
}

.progress-bar2 {
  width: 0;
  height: 50px;
  background-color:green;
  border-radius: 30px;
}

.progress-bar3 {
  width: 0;
  height: 50px;
  background-color: orange;
  border-radius: 30px;
}

.progress-bar4 {
  width: 0;
  height: 50px;
  background-color: grey;
  border-radius: 30px;
}

.progress-bar5 {
  width: 0;
  height: 50px;
  background-color: #86a1fd;
  border-radius: 30px;
}

.progress-bar6 {
  width: 0;
  height: 50px;
  background-color: #04AA6D;
  border-radius: 30px;
}


.progress-text {
  font-family: "Caviar Dreams", sans-serif; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

@keyframes progressAnimation {
  to {
    transform: translateX(100%);
  }
}


.overall-progress {
  text-align: start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #cecece;
  margin-top: 20px;
  border-radius: 30px;
  position: relative;
}

.overall-progress-bar {
  border-radius: 30px;
  width: 0;
  height: 100%;
  background-color: #3498db;
}

.overall-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.progress-header {
  color: #606060;
  font-family: "Caviar Dreams"; 
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  display: flex; 
  justify-content: start; 
  align-items: center; 
}

@media print {
  .top-grid {
      display: none;
  }
}